<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form action="registration" method="post" >
{% csrf_token %}
    <table border="0px" align="center" >
        <th><h2 style="color:blue;">Register here</h2></th>
        <tr>
            <td><label>Username</label></td>
            <td><input type="text" name="username" placeholder="UserName"></td><br>
        </tr>
        <tr>
            <td><label>First Name </label></td>
            <td><input type="text" name="first_name" placeholder="Enter First name"></td><br>
        </tr>
        <tr>
            <td><label>Last Name</label></td>
            <td><input type="text" name="last_name" placeholder="Enter last name"></td><br>
        </tr>
        <tr>
            <td><label>Email ID</label></td>
            <td><input type="email" name="email" placeholder="Enter email id"></td><br>
      </tr>
      <tr>
            <td><label>Password</label></td>
            <td><input type="password" name="password" placeholder="Password"></td><br>
      </tr>
      <tr>
            <td><label>Confirm password</label></td>
            <td><input type="password" name="cpassword" placeholder="Confirm your password"></td>
      </tr><br>

          <td><input type="submit"></td>

    </table>
</form>
{% for msg in messages %}
<h3 align="center">{{msg}}</h3>
{% endfor %}
</body>
</html>